#footer .row {
  padding-top: 5px;
  padding-bottom: 10px;
}
#footer .row div:first-child {
  padding: 0;
}
#footer .row div:nth-child(2) {
  float: right;
}
#footer .row div:nth-child(2) span {
  color: #000;
  opacity: 0.7;
}
#footer #footer-ul {
  list-style-type: none;
  padding: 0;
}
#footer #footer-ul li {
  font-size: 16px;
  padding: 0 30px 0 0;
}
#footer #footer-ul li span {
  color: #000;
  opacity: 0.7;
}
#footer #footer-ul a:hover {
  text-decoration: none;
}
