@font-face{
	font-family:'oppoRegular';
	src:url('appo_paint-new.otf');
}




#navigation {
	margin:50px 0;
}

#navigation  a.navbar-brand {
	font-size: 40px;
	line-height: 80px;
	font-style: bold;
	padding:0;
	color:#000;
	font-family: oppoRegular,'MS Sans Serif', Geneva, sans-serif;
}

#example-navbar-collapse ul a{
	line-height: 80px;
	padding-top:8px;
	padding-left:16px;
	padding-bottom:0;
	letter-spacing: 3px;
	font-size:18px;
	cursor: pointer;
}






#text-area {
	margin-top:245px;
}

#text-area span{
	font-size:20px;
	color:red;
}


#main {
	margin-top:195px;
}

#main .hover-opacity {
	padding:0;
}

