/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@import "compass/reset";*/
@font-face {
  font-family: 'oppoRegular';
  src: url("appo_paint-new.otf");
}
/* line 16, ../sass/screen.scss */
body {
  position: relative;
  background-color: #fff;
  background-image: url(../images/background/micai.gif);
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: repeat;
}

/* line 35, ../sass/screen.scss */
.leftbar {
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 0;
  width: 60px;
}
/* line 36, ../sass/screen.scss */
.leftbar:hover {
  cursor: pointer;
}
/* line 45, ../sass/screen.scss */
.leftbar .line {
  position: relative;
  width: 60px;
  height: 10px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 5px;
}
/* line 54, ../sass/screen.scss */
.leftbar .line:nth-last-child(1) {
  margin-bottom: 0;
}

@keyframes leftbarAnimation {
  0% {
    left: 0;
  }
  20% {
    left: -30px;
  }
  50% {
    left: -60px;
  }
  55% {
    left: 60px;
  }
  75% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
/* line 73, ../sass/screen.scss */
.leftbar:hover .line:nth-child(1) {
  animation: leftbarAnimation 200ms;
}
/* line 76, ../sass/screen.scss */
.leftbar:hover .line:nth-child(2) {
  animation: leftbarAnimation 200ms 100ms;
}
/* line 79, ../sass/screen.scss */
.leftbar:hover .line:nth-last-child(1) {
  animation: leftbarAnimation 200ms 200ms;
}

@keyframes xiconanimation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/* line 93, ../sass/screen.scss */
.xicon {
  width: 60px;
  height: 50px;
  position: relative;
  left: 140px;
  top: 45px;
  display: none;
}
/* line 98, ../sass/screen.scss */
.xicon:hover {
  cursor: pointer;
  animation: xiconanimation 200ms;
}
/* line 104, ../sass/screen.scss */
.xicon .line {
  background-color: white;
  width: 60px;
  height: 10px;
  position: absolute;
  border-radius: 5px;
}
/* line 112, ../sass/screen.scss */
.xicon .line:nth-child(1) {
  margin: 20px 0;
  transform: rotate(135deg);
}
/* line 118, ../sass/screen.scss */
.xicon .line:nth-child(2) {
  margin: 20px 0;
  transform: rotate(45deg);
}

/* line 141, ../sass/screen.scss */
.letter {
  position: absolute;
  left: 1000px;
  top: 50px;
  white-space: nowrap;
}
/* line 146, ../sass/screen.scss */
.letter span {
  font-family: oppoRegular,'MS Sans Serif', Geneva, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  padding-left: 2px;
  position: relative;
}

/* line 159, ../sass/screen.scss */
.main {
  width: 800px;
  height: 600px;
  position: absolute;
  border-radius: 5px;
  left: 250px;
  top: 150px;
}
/* line 167, ../sass/screen.scss */
.main .showpic {
  position: relative;
  float: left;
  left: 20px;
  top: 10px;
  width: 85%;
  height: 450px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  background: url(../images/gallery-pic/1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 181, ../sass/screen.scss */
.main .cirbar {
  position: relative;
  float: right;
  padding: 30px 40px 10px;
}
/* line 187, ../sass/screen.scss */
.main .rightcir {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 25px;
}
/* line 193, ../sass/screen.scss */
.main .rightcir:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 1px 1px #ccc;
  background-color: #99ccff;
}

/* line 204, ../sass/screen.scss */
.slidebar {
  display: none;
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 0;
  width: 200px;
  height: 600px;
  background-color: #fff;
}
/* line 221, ../sass/screen.scss */
.slidebar a {
  padding: 20px 0 20px 0;
  border-bottom: solid 1px #ccc;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: #000;
}
/* line 230, ../sass/screen.scss */
.slidebar a:hover {
  background-color: #00b0f0;
  opacity: 0.7;
  font-family: oppoRegular, sans-serif;
  font-size: 30px;
  text-shadow: -2px -2px white, 2px 2px #333;
}

/* line 244, ../sass/screen.scss */
#test {
  width: 200px;
  height: 50px;
  position: fixed;
  left: 50px;
  top: 500px;
  background-color: #fff;
  border: solid 1px red;
}
